@import url('https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:wght@300&family=Josefin+Sans:ital,wght@0,300;1,300&family=Red+Hat+Display:ital,wght@0,600;0,800;1,600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:wght@300;500&family=Josefin+Sans:ital,wght@0,300;1,300&family=Red+Hat+Display:ital,wght@0,600;0,800;1,600&family=Roboto&display=swap');
body{
    margin: auto;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    background-color: hsl(0, 0%, 98%);;
    font-family: 'Epilogue', sans-serif;
    /* color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 41%);
    color: hsl(0, 0%, 98%); */
}

/* .header-for-desktop{
    display: none;
} */

.main-picture-desktop{
    display: none;
}

.main-picture-mobile{
    width: 100%;
}

.header{
    display: flex;
    margin-top: -2.2em;
    justify-content: space-around;
    gap: 12em;
}

.header-font{
    display: none;
}

.side-bar{
    order: 2;
}

.main-picture-mobile{
    order: 1;
}

.main-flex{
    display: flex;
    flex-direction: column;
    margin-top: -1.3em;
}

.text-align{
    text-align: center;
    margin-top: 2.5em;
}

h2{
    font-size: 2.4em;
    font-weight: bolder;
}

p{
    max-width: 22em;
}

.flex-for-paragraph{
    margin-top: -1.7em;
    display: flex;
    justify-content: center;
}

.btn{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -.5em;
}

.btn p{
    background-color: black;
    padding: .7em;
    padding-inline: 1.2em;
    border-radius: 1em;
    cursor: alias;
}

.icons-flex{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    gap: .8em;
    margin-top: 1.5em;
    

}

.first-icon{
    width: 5em;
}

.icon{
    width: 3.2em;
    align-self: center;
    color: black;
}

#bars{
    color: black;
    font-size: 1.7em;
    align-self: center;
    line-height: 4.9;
}

.logo{
    /* display: inline-block; */
    font-size: 2.5em;
    font-weight: bolder;
    line-height: -30;

}

@media all and (min-width: 1280px){
    body{
        background-color: darkred;
        /* background-color: white; */
    }
    .main-picture-mobile{
        display: none;
    }

    .header-for-desktop{
        display: flex;
        flex-direction: row;
        gap: 3em;
    } 

    .header-first-flex{
        display: flex;
        gap: 4.5em;
    }  

    .header-second-flex{
        display: flex;
        gap: 3em;
    }

    .header-font{
        font-size: .7em;
        line-height: 6;
        align-self: center;
    }

    .flex-header{
        display: flex;
        justify-content: space-around;
    }

    .header{
        display: grid;
        margin-top: .2em;
        justify-content: start;
        /* margin-inline: 1em;     */
        grid-auto-flow: column;
        gap: 36em;
    }

    .logo{       
        font-size: 1.7em;
        font-weight: bolder;
    }

    /* #register{
        border: 1px solid black;
    } */

    button{
        height: 2.5em;
        align-self: center;
        padding-inline: 1.3em;
        font-size: 1em;

    }

    #bars{
        display: none;
    }

    .side-bar{
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .main-flex{
        display: grid;
        grid-auto-flow: column;
    }

    .main-picture-desktop{
        display: block;
        width: 40%;
        order: 2;
    }
}